<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/registerStyle.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img class="homeWallpaper" src="/images/homeWallpaper.jpg"/>

<form class="form" id="formulario" action="envio" method="post">
    <h1 class="titulo">Cadastro</h1>

    <label class="nome">Primeiro Nome* </label><br>
    <input class="nomeInput" id="nomeInput" type="text" placeholder="Digite seu nome" name="nome"><br>

    <label>Email* </label><br>
    <input class="sobrenomeInput" type="text" id="sobrenomeInput" placeholder="Digite seu sobrenome" name="email"><br>

    <label>CPF*</label><br>
    <input class="cpfInput" type="text" placeholder="Digite o seu CPF"><br>

    <label class="sexoInputLabel">Sexo*</label><br>
    <select class="sexoInput">
        <option>...</option>
        <option>Homem</option>
        <option>Mulher</option>
        <option>Outra coisa...</option></select><br>
    <label>Nome Social (opcional)</label><br>
    <input class="nomesocialInput" type="text" placeholder="Digite seu nome social"><br>

    <label>Data de nascimento*</label><br>
    <input class="dataNascInput" type="Date"><br>

    <input class="btnEnviar" type="submit" id="Cadastrar" name="botaoCadastro" value="Cadastrar">

</form>
</body>
</html>