<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet" />
    <script th:src="@{/Script/Cpf.js}"></script>
    <meta charset="UTF-8">
    <title>home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>

<img class="homeWallpaper" src="/images/homeWallpaper.jpg"/>

<form action="cadastro">
    <button class="btnCadastro">Conhecer</button>
</form>


<div class="textoPagInicial">
    <h1 class="titulo">
        Bem-Vindo ao Catálogo de livros online
    </h1>
    <h3 class="descricao">
        Seu destino online para descobrir e explorar uma infinidade de obras literárias.
        Aqui, você encontrará uma ampla seleção de títulos em diferentes gêneros, desde clássicos
        intemporais até lançamentos contemporâneos, tudo isso com o objetivo de alimentar
        sua paixão pela leitura e abrir as portas para novas histórias e conhecimentos fascinantes.
    </h3>
</div>
</body>
</html>