*{
    margin: 0;
    overflow: hidden;
}

body{
    background: radial-gradient(circle, #f5f3f3, #ffffff);
}

.homeWallpaper{
    position: fixed;
    width: 100%;
    height: auto;
}

.form
{
    position: absolute;
    margin-left: 38%;
    margin-bottom: 30%;
    padding-left: 13px;
    font-family: 'Nunito', sans-serif;
    width: 350px;
    height: 525px;
    align-items: center;
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgba(114, 112, 112, 0.4);
}

.titulo
{
    padding-left: 95px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.nomeInput
{
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.nomeInput:hover
{
    transition: 1s;
    border-color: #dbdbdf;
    background-color: #e6dfdf;
}

.sobrenomeInput
{
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.sobrenomeInput:hover
{
    transition: 1s;
    border-color: #dbdbdf;
    background-color: #e6dfdf;
}

.cpfInput
{
    width: 93%;
    height: 30px;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
    border-width: 1px;
}

.cpfInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #d1cccc;
}

.sexoInput
{
    width: 95%;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
}

.nomesocialInput
{
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.nomesocialInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #ffffff;
}

.dataNascInput
{
    width: 94%;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.dataNascInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #ffffff;
}

.btnEnviar
{
    font-size: 25px;
    color: rgb(250, 245, 245);
    height: 50px;
    width: 96%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 5px;
}

.btnEnviar:hover
{
    font-size: 23px;
    transition: 1s;
    background-color: #474747;
}
