*{
    margin: 0;
}

.homeWallpaper{
    position: fixed;
    width: 100%;
    height: auto;
}

.form
{
    position: absolute;
    margin-left: 38%;
    margin-top: 5%;
    padding-left: 13px;
    font-family: 'Nunito', sans-serif;
    width: 375px;
    height: 525px;
    align-items: center;
    background-color:black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(114, 112, 112, 0.4);
}

.titulo
{
    padding-left: 30%;
    padding-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.nomeInput
{
    color:black;
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: large;
}

.nomeInput:hover
{
    transition: 1s;
    border-color: #dbdbdf;
    background-color: #e6dfdf;
}

.sobrenomeInput
{
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: large;
}

.sobrenomeInput:hover
{
    transition: 1s;
    border-color: #dbdbdf;
    background-color: #e6dfdf;
}

.cpfInput
{
    color:black;
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: large;
    opacity: 1;
}

.cpfInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #d1cccc;
}

.sexoInputLabel{
    color: white;
}

.sexoInput
{
    width: 95%;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
    background-color: white;
    font-size: large;
}

.nomesocialInput
{
    color:black;
    width: 93%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: large;
}

.nomesocialInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #ffffff;
}

.dataNascInput
{
    width: 94%;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: white;
}

.dataNascInput:hover
{
    transition: 1s;
    border-color: #778899;
    background-color: #ffffff;
}

.btnEnviar
{
    font-size: 25px;
    color: rgb(250, 245, 245);
    height: 58px;
    width: 96%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
    margin-top: 5px;
}

.btnEnviar:hover
{
    font-size: 23px;
    transition: 1s;
    background-color: #474747;
}

.error{
    position: absolute;
    width: 30%;
    height: 15%;
    margin-top: 35%;
    margin-left: 33%;
    background-color: red;
    opacity: 0.8;
    font-family: "Roboto Light";
    font-size: small;
}
